.whitepanel {
		list-style: none;
		padding-left: 0;
		display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
		padding: 30px 40px;
		box-shadow: $box-shadow;
}

.darkpanel {
	background-color: $black;
	color: $white;
}
.ddpanel {
	background-color: #263238;
	color: $white;
	text-align: center;
	padding: 20px;
}

.colorpanel {
  background-color: $c1;
  color: $white;
  a {color: $white;word-break:normal;}
}

.littleimg {
	width: 100%;
	max-width: 800px;
}
