body {

  img {
    width: auto;
    max-width: 100%;
  }

  text-align: center;

  section, header, footer {
    width: 100%;
    max-width: $max-width;
    display: inline-block;
    text-align: left;
  }

  .image-only {
    width: 100%;
    max-width: $max-width;
    text-align: center;
    margin: 50px 0;
  }

  .grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: $max-width;
    padding: 0 30px;
    margin: 0 auto;
    &.two-col {.column {width: 50%;}}
    &.three-col {.column {width: 31.33%; margin: 1.75vw 0 0;}}
    &.four-col {.column {width: 23%;margin: 1.75vw 0 0;}}
  }

  img {
    box-shadow: 5px 0 0 $c1;
  }

  

}
