body {

  img {
    width: auto;
    max-width: 100%;
  }

  text-align: center;

  section, header, footer, .max-width {
    width: 100%;
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
    position: relative;

    &.little-max {
      max-width: $max-width-little;
    }

    &.no-max {
      max-width: 100%;
    }

  }

  .image-only {
    width: 100%;
    max-width: $max-width;
    text-align: center;
    margin: 50px auto 30px;
    img {
      vertical-align: bottom;
    }
    &:last-of-type {margin-bottom: -70px;}
    &.max-img {max-width: 1000px;}
  }

}
