---
title: MV Sport
description: Coach sportif à domicile à Lille, Marcq en Baroeul et La Madeleine
keywords: coach, sportif, domicile, lille
changefreq: "monthly"
priority: "1"
---

div id="hero-intro"
	= image_tag data.content.logo.path, alt: "#{data.settings.site.title} - #{data.content.logo.title}"
	h1 = data.content.h1

div id="introduction" class="grid two-col max-width little-max row"
	div class="column text-center"
		= image_tag data.content.imageone.path, alt: "#{data.settings.site.title} - #{data.content.imageone.title}", class: "column"
	div class="text column p-left"
		p = data.content.introduction.texte

section id="fonctionnement"
	h2 class="text-center" = data.content.fonctionnement.h1
	ol class="box-list text-center grid four-col"
		- data.content.fonctionnement.liste.each_with_index do |listeelement|
			li class="column whitepanel"
				h3 = listeelement.title
				p = listeelement.texte

section id="tarifs"
	h2 class="text-center" = data.content.tarifs.h1
	ul class="box-list grid three-col pricetables"
		- data.content.tarifs.liste.each_with_index do |listeelement|
			li class="column"
				p class="title" = listeelement.title
				p class="texte" = listeelement.texte
				p class="prix" = listeelement.prix

= partial 'views/contact'

div class="image-only max-img"
	= image_tag data.content.imagetwo.path, alt: "#{data.settings.site.title} - #{data.content.imagetwo.title}"

div class="grid two-col max-width little-max row"
	section id="pourqui" class="column p-right"
		h2 = data.content.pourqui.h1
		p = data.content.pourqui.texte
		ul
			- data.content.pourqui.liste.each_with_index do |listeelement|
				li = listeelement
	section id="seances" class="column p-left"
		h2 = data.content.seances.h1
		p = data.content.seances.texte

section id="apropos" class="little-max"
	div class="grid two-col"
		div class="column p-right"
			h2 = data.content.apropos.title
			p = data.content.apropos.texte
		div class="column"
			= image_tag data.content.imagethree.path, alt: "#{data.settings.site.title} - #{data.content.imagethree.title}"

= partial 'views/contact'

section id="avantages"
	h2 class="text-center" = data.content.avantages.h1
	ul class="box-list grid three-col"
		- data.content.avantages.liste.each_with_index do |listeelement|
			li class="column whitepanel"
				= image_tag listeelement.image, alt: "#{listeelement.title}"
				h3 = listeelement.title
				p = listeelement.texte

div class="image-only"
	= image_tag data.content.imagefour.path, alt: "#{data.settings.site.title} - #{data.content.imagefour.title}", class: "littleimg"

= partial 'views/contact'

section id="social" class="ddpanel no-max"
	p = data.content.social.p
	ul
		- data.content.social.liste.each_with_index do |socialelement|
			li
				= link_to "#{socialelement.link}", class: 'sociallink', target: "_blank" do
					= image_tag socialelement.image, alt: "#{socialelement.texte}"
					p = socialelement.texte
